.react-datepicker__day--highlighted-custom-1 {
  background-color: #ff6633 !important;
  color: white;
}
.react-datepicker__day--highlighted-custom-2 {
  background-color: #ff99e6 !important;
  color: white;
}
.react-datepicker__day--highlighted-custom-3 {
  background-color: #00b3e6 !important;
  color: white;
}
.react-datepicker__day--highlighted-custom-4 {
  background-color: #ffff99 !important;
  color: black;
}
.react-datepicker__day--highlighted-custom-5 {
  background-color: #99ff99 !important;
  color: white;
}
.react-datepicker__day--highlighted-custom-6 {
  background-color: #e6b333 !important;
  color: white;
}
.react-datepicker__day--highlighted-custom-7 {
  background-color: #3366e6 !important;
  color: white;
}
.react-datepicker__day--highlighted-custom-8 {
  background-color: #999966 !important;
  color: white;
}
