* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  border-bottom: 2px solid var(--secondary-color);
}
:root {
  --bg-color: #f8f7f4;
  --buttons-color: #ffd9ad;
  --secondary-color: #4b544a;
}
.buttoncolor {
  background-color: var(--buttons-color) !important;
  color: black !important;
}
.bgcolor {
  background-color: var(--bg-color) !important;
}
.secondarycolor {
  color: var(--secondary-color) !important;
}

.buttoncolor:hover {
  background-color: black !important;
  color: var(--buttons-color) !important;
}
body {
  background-color: var(--bg-color) !important;
  font-family: "Poppins" !important;
}
main {
  min-height: 100vh;
}
.headerfont {
  font-family: "Playfair Display";
}
.bg {
  margin: 0 auto;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maxwidth {
  max-width: 1200px;
}
.litthoyre {
  left: 55%;
  top: 55%;
}
.w-70 {
  width: 70%;
}
.h-70 {
  height: 70%;
}
.sortbarsection {
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.carousel-inner .carousel-item {
  transition-duration: 0.3s;
}
.carousel-image {
  width: 100%;
  height: 30vh;
}
.borderbottom {
  border-bottom: 2px solid var(--secondary-color);
}
.bordertop {
  border-top: 2px solid var(--secondary-color);
}
.border {
  border: 2px solid var(--secondary-color);
}

@media (max-width: 768px) {
  .column {
    flex-direction: column;
  }
  .litthoyre {
    left: 0;
    top: 0;
  }

  .bilder {
    display: none;
  }
}
